name: PHPStan

on: [push, pull_request]

jobs:
  phpstan:
    name: PHPStan on PHP ${{ matrix.php-versions }}
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ['ubuntu-latest']
        php-versions: ['8.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: phpstan:1
          coverage: none

      - name: Install Composer dependencies
        uses: "ramsey/composer-install@v3"

      - name: Initialize Database
        run: php cmd/init.php

      - name: Static Analysis
        run: vendor/bin/phpstan analyse --level 5 --memory-limit 1024M
